body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.header {
    background-color: #ADD8E6;
    text-align: center;
    padding: 64px;
}

.menu {
    width: 100%;
    background-color: #2F4F4F;
}

.menu ul {
    margin: 0;
    list-style-type: none;
}

.menu ul a {
    color: #ffffff;
    text-decoration: none;
}

.col {
    padding: 16px;
}

.col-1 {
    background-color: #AAAAAA;
}

.col-2 {
    background-color: #BBBBBB;
}

.col-3 {
    background-color: #CCCCCC;
}

.footer {
    background-color: #2F4F4F;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    clear: both;
}

ul {
    padding-left: 0;
}

ul li{
    display: inline-block;
    padding: 8px 20px;
    border-right: 2px solid #000000;
}

.col {
    width: calc((100% - 96px) / 3);
    float: left;
    height: 400px;
}

@media (max-width: 600px) {
    .col {
        width: calc((100% - 64px) / 2);
    }
    .col.col-3 {
        clear: both;
        width: calc(100% - 32px);
    }
}